<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitquest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" tools:targetApi="31"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".FitQuestApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitQuest.Fullscreen">
        <activity
            android:name=".FoodHistory"
            android:exported="false" />
        <!-- Launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other screens (inherit the app theme above) -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".WorkoutActivity" />
        <activity android:name=".WorkoutGeneratorActivity" />
        <activity android:name=".ExerciseActivity" />
        <activity android:name=".MacroActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ShopActivity" />
        <activity android:name=".QuestGeneratorActivity" />
        <activity android:name=".QuestPreviewActivity" />
        <activity android:name=".WorkoutSessionActivity" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".SessionDetailActivity" />
        <activity android:name="com.example.fitquest.WeeklyReviewActivity" />

        <!-- Weight reminder broadcast receiver (explicit internal receiver) -->
        <receiver
            android:name=".WeightReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".MacroSnapshotReceiver"
            android:exported="false" />

        <!-- The prompt activity you want to show -->
        <activity
            android:name=".WeightPromptActivity"
            android:exported="false"
            android:theme="@style/Theme.FitQuest.WeightDialog"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"  />

        <receiver
            android:name=".BootCompletedReceiver"
            android:exported="true">     <!-- MUST be true for implicit system broadcasts -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!-- optional but recommended: -->
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>